#!/bin/bash

### In this library you can override any previously defined function
### Designed from JPS 
### for successful end of operation - function should return status code 0

# Examples:

#function _deploy(){
#
#
#}


